{% extends 'main.html' %}
{% load static %}
{% block content %}

  <div class="container text-center">
      <div style="width:100%; margin:auto;">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <div>
                      <form method="POST" action="">
                      {% csrf_token %}
                      {% for non_field_error in field.non_field.errors %}
                      <p class="help danger">{{ non_field_error }}</p>
                      {% endfor %}
                      {% for field in form %}
                      <div class="field">
                        <table align="center">
                          <tr>
                          <td><label for="{{field.id_for_label}}" class="label" style="color: black;">{{ field.html_name }}</label></td>
                          <td>{{ field }}</td>
                          {% for error in field.errors %}
                            <p class="help danger">{{ error }}</p>
                          {% endfor %}
                          </tr>
                        </table>
                        <br>
                        <br>
                      </div>
                      {% endfor %}
                      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
                      </form>
            </div>
            <br>
            <a href="{% url 'login' %}" class="btn btn-primary">already have an account?</a>
          </div>
        </div>
      </div>
  </div>

{% endblock content %}