{% extends 'main.html' %}
{% load static %}
{% block content %}
  <div class="container text-center" class="login-box">
      <div style="width:100%; margin:auto;">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">log In</h5>
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">log in</button>
            </form>
          </div>
        </div>
      </div>
  </div>


{% endblock content %}